services:
  postgres:
    container_name: postgres_container
    restart: always
    image: postgres:latest
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - node-network

  node-app:
    build: .
    container_name: express_app
    restart: always
    depends_on:
      - postgres
    environment:
      PORT: 4000
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres-db:5432/${POSTGRES_DB}
    ports:
      - "4000:4000"
    volumes:
      - .:/app
      - /app/node_modules
      - ./logs:/app/logs
    networks:
      - node-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_container
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: masterov_k@bk.ru
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - postgres
    networks:
      - node-network

networks:
  node-network:
    driver: bridge

volumes:
  postgres_data:

  
  


